.git
.github
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
dist/
build/
.qwen/
agent/
*.md
docs/
coverage/
.nyc_output/
$null
compose.watch.yml
docker-compose.*.yml
traefic/
uploaded_csv/
backend/
